.footer {
    display: flex;
    background-color: var(--primary-color);
    color:var(--brand-light);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    margin-top: -1em;
    border-top: 3px solid var(--brand-dark);
}

.footer span {
    font-weight: bold;
}

.footer a {
    color: unset;
    text-decoration: none;
    transition: .7s;

}

.footer a:hover {
    color:var(--brand-dark-2);
    font-size: 19px;
}
