* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 72vh;
  background-color: var(--brand-light);
}

:root {
  --hue:160;
  --primary-color: hsl(var(--hue), 80%, 20%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(0, 0%, 100%);

  --brand-baige: hsl(30, 33%, 99%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);
  --brand-dark-2: hsl(calc(var(--hue) - 150), 100%, 50%);
  --bg-light: hsl(180, 14%, 97%);
}